In [1]:
import time
import datetime
print("year",datetime.date.today().strftime("%Y"))

year 2019

In [4]:
import time
import datetime
print("month",datetime.date.today().strftime("%B"))

month August

In [5]:
import time
import datetime
print("date",datetime.date.today().strftime("%D"))

date 08/30/19

In [13]:
import time
import datetime
print("Day of week",datetime.date.today().strftime("%A"))

Day of week Friday

In [11]:
import time
import datetime
print("day of year",datetime.date.today().strftime("%j"))

day of year 242

In [12]:
import time
import datetime
print("day of month",datetime.date.today().strftime("%d"))

day of month 30

In [14]:
import datetime
print(datetime.datetime.now().time())

13:53:02.917225

In [17]:
from datetime import datetime,timedelta
i=datetime.now()
print("Today date :",i)
i2=i+timedelta(days=2)
print("date after 2 days :",i2)

Today date : 2019-08-30 14:00:53.959659
date after 2 days : 2019-09-01 14:00:53.959659

In [18]:
from datetime import datetime,timedelta
i=datetime.now()
print("Today date :",i)
i2=i+timedelta(days=2)
print("date after 2 days :",i2)
i3=i+timedelta(days=365)
print("date after 1 year :",i3)

Today date : 2019-08-30 14:02:04.814703
date after 2 days : 2019-09-01 14:02:04.814703
date after 1 year : 2020-08-29 14:02:04.814703

In [21]:
from datetime import datetime,timedelta
i=datetime.now()
print("Today date :",i)
i2=i+timedelta(days=2)
print("date after 2 days :",i2)
i3=i+timedelta(days=365)
print("date after 1 year :",i3)
i4=i+timedelta(hours=5)
print("time after 5 hour :",i4)

Today date : 2019-08-30 14:04:33.646362
date after 2 days : 2019-09-01 14:04:33.646362
date after 1 year : 2020-08-29 14:04:33.646362
time after 5 hour : 2019-08-30 19:04:33.646362

In [22]:
from datetime import datetime,timedelta
i=datetime.now()
i5=i+timedelta(days=1)
print("tommorow :",i5)
i6=i+timedelta(days=-1)
print("yesterday :",i6)

tommorow : 2019-08-31 14:07:32.550431
yesterday : 2019-08-29 14:07:32.550431

In [24]:
# using Numpy
import numpy as np
yesterday=np.datetime64('today','D')-np.timedelta64(1,'D')
print(yesterday)
today=np.datetime64('today','D')
print(today)
tommorow=np.datetime64('today','D')+np.timedelta64(1,'D')
print(tommorow)

2019-08-29
2019-08-30
2019-08-31

In [26]:
import numpy as np
print("August,2019")
print(np.arange('2019-08','2019-09',dtype='datetime64[D]'))

August,2019
['2019-08-01' '2019-08-02' '2019-08-03' '2019-08-04' '2019-08-05'
 '2019-08-06' '2019-08-07' '2019-08-08' '2019-08-09' '2019-08-10'
 '2019-08-11' '2019-08-12' '2019-08-13' '2019-08-14' '2019-08-15'
 '2019-08-16' '2019-08-17' '2019-08-18' '2019-08-19' '2019-08-20'
 '2019-08-21' '2019-08-22' '2019-08-23' '2019-08-24' '2019-08-25'
 '2019-08-26' '2019-08-27' '2019-08-28' '2019-08-29' '2019-08-30'
 '2019-08-31']

In [3]:
#using datetime check an input is leap year or not
import numpy as np
p=np.arange('2019-01','2020-01',dtype='datetime64[D]')
if(len(p)==365):
    print("not leap year")
else:
    print("leap year")

not leap year

In [5]:
import numpy as np
n=input("enter year")
p=np.arange(n+"-02",n+"-03",dtype='datetime64[D]')
if(len(p)==28):
    print("not leap year")
else:
    print("leap year")

enter year2000
leap year